@keyframes animationLogo {

    0% {
        border-top: 4px solid #09537C;
        border-right: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid transparent;
    }
    25% { 
        border-right: 4px solid #09537C;
        border-right: 4px solid #09537C;
        border-bottom: 4px solid transparent;
        border-left: 4px solid transparent;
    }
    50% {
        border-bottom: 4px solid #09537C;
        border-right: 4px solid #09537C;
        border-bottom: 4px solid #09537C;
        border-left: 4px solid transparent;
    
    }
    75% {
        border-left: 4px solid #09537C;
        border-right: 4px solid #09537C;
        border-bottom: 4px solid #09537C;
        border-left: 4px solid #09537C;
        }
    100% {
        border-left: 4px solid #09537C;
        border-right: 4px solid #09537C;
        border-bottom: 4px solid #09537C;
        border-left: 4px solid #09537C;
       }
    
}

@keyframes animationFont {

    0% {
        filter: opacity(0%);
        font-weight: 900;
        font-family: 'Lato', sans-serif;
    }

    25% {
        filter: opacity(20%);
        font-weight: 900;
        font-family: 'Lato', sans-serif;
    }

    50% {
        filter: opacity(40%);
        font-weight: 900;
        font-family: 'Lato', sans-serif;
    }

    75% {
        filter: opacity(60%);
        font-weight: 900;
        font-family: 'Lato', sans-serif;
    }
    100% {
        filter: opacity(100%);
        font-weight: 900;
        font-family: 'Lato', sans-serif;
    }

}





.box {
    display: flex;
    margin: 60px auto 0;
    flex-direction: column;
    color: #0F9CEA;
    justify-content: center;
    width: 150px;
    height: 150px;
    content: "\f09b";
    font-family: 'FontAwesome';
    font-size: 156px;
    border: 4px solid #09537C;

    border-radius: 50%;
}

.box:before {


    font-family: 'FontAwesome';
    content: "\f09b";

}


.container:hover .box {
    animation-name: animationLogo;

    
    animation-duration: 700ms;
    animation-fill-mode: forwards;

    


}

.repo {

}

.findMe {
    display: flex;
    margin: 10px auto 0;
    flex-direction: column;
    padding-left: 43%;
    justify-content: center;
    font-size: larger;
    font-family: 'Lato', sans-serif;
    animation-name: animationFont;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

.repo:hover .findMe {

}
/*
Keyframes
Change Color using Css Filter Feature * Opacity 50%
Css Transform feature 
Mouse Hover * Move to the right!

  
  